<div class="jcr-content">
  <div class="container text-center">
    <div class="card d-inline-block jcr-border-color p-4 text-left">
      <h1 class="h3 mb-4">Admin Login</h1>
      <p>
        Please contact
        <a href="mailto:anousha.kf@gmail.com?&cc=sfarshid@sfarshid.com&subject=Admin%20Access&body=I%20would%20like%20admin%20access%20to%20Pensee%20Music%20Publication.">Pensee Music Publication</a>
        if you need admin access.
      </p>
      {{> form-login action="/admin/login" alert=alert redirect=redirect}}
    </div>
  </div>
</div>