<!doctype html>
<html lang="en">
<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{{page.title}} | Pensee Music Publication</title>
  <link href="/css/style.css" rel="stylesheet">
  <link href="/lib/ui/trumbowyg.min.css" rel="stylesheet">
  <link href="/lib/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body> 
<div class="jcr-background">
     <main>
      {{{body}}}
    </main>
    </div>
<script src="//www.youtube.com/iframe_api"></script>
  <script src="/lib/jquery-3.4.1.min.js"></script>
  <script src="/lib/trumbowyg.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>    