<div class="container">
<div class="logo">
  <img src="/images/logo.png" alt="" width="130"/>
  </div>
<div class="jcr-content jcr-content--home">
<div class="container">
    <p class ="title-font"> Welcome to Pensée Music! <p/>

    <p class="news">Pensée Music Publishing is a music publishing company based in Sacramento, California. Founded by two composers in 2022, we aim to create a growing body of diverse repertoire for musicians, music teachers and music hobbyists.</p>

    <p class="news"> Join our newsletter to get updates:</p>

<form method="POST", onsubmit="return alert('Thanks for joining our newsletter!');">
  <br><input type="text" id="email" placeholder="email" name="email" style="font-size: medium;"><br>
    <input type="submit" value="Submit" style="font-size: medium;">
</form> 
    <p class="news"> Thank you!</p>
    <p class="news"> Pensée Music Team!</p>
</div>
</div>
