.title-font { 
    font-size: xx-large;
    font-family: "Optima", sans-serif;
    text-align: center;
}
.news { 
  font-size: large;
  font-family: "Optima", sans-serif;
}
  *{transition:all 0.3s ease-in-out;}

  .container{
    clear:both;
    overflow:auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
  }
  
  nav{float:right;}
  .logo img{float:left;}

  .logo{
    margin-left: 40px;
  }